@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.nav-li:nth-child(4) {
  background-color: #e6ccd5;
}

body {
  position: relative;
  /* overflow: hidden; */
  z-index: -10;
}

.main {
  margin: 0 auto;
  margin-left: 269px;
  width: calc(100% - 269px);
}

.container-wrap {
  /* margin-left: 269px; */
  padding-bottom: 79px;
  position: relative;
}

.container {
  width: 937px;
  margin: 0 auto;
}

.title {
  font-size: 32px;
  font-weight: 550;
  margin-top: 96px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;

  color: #000000;
}

.text {
  padding-top: 12px;
}

.time-wrap {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  color: #767676;
  margin-bottom: 17px;
  margin-top: 26px;
}

.time {
  padding: 0 11px;
  border-right: 1.5px solid #767676;
  cursor: pointer;
}

.time:nth-child(4) {
  font-weight: bold;
  color: black;
  border-right: none;
}

.ask-menu {
  display: flex;
  align-items: center;
  width: 935px;
  height: 48px;
  margin-top: 22px;

  font-size: 15px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.ask-store {
  margin-left: 50px;
}

.ask-type {
  margin-left: 140px;
}

.ask-content {
  margin-left: 105px;
}

.ask-day {
  margin-left: 355px;
}

.ask-menu-bar {
  display: flex;
  align-items: center;
  font-size: 15px;
  border-bottom: 1px solid black;
  width: 935px;
  height: 67px;
}

.ask-menu-name {
  width: 114px;
  margin-left: 35px;
}

.ask-menu-type {
  margin-left: 70px;
  width: 45px;
}

.ask-menu-text {
  margin-left: 117px;
  width: 200px;
}

.ask-menu-day {
  margin-left: 218px;
}

.line-box {
  width: 935px;
  margin-left: 386px;
  margin-top: 17px;
}

.pages {
  text-align: center;
}

.page-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.ask-wrap {
  margin-bottom: 51px;
}
