{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
  rel="stylesheet"
/>
<!-- CSS -->
<link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css" />
<script
  src="https://kit.fontawesome.com/bab0b57cd2.js"
  crossorigin="anonymous"
></script>
<title>로그인</title>
{% endblock %} {% block content %}
<body>
  <form action="#" method="POST">
    {% csrf_token %}
    <!-- 중앙부 -->
    <div class="outer_box">
      <!-- LOGIN 글자 -->
      <div class="login_sign">LOGIN</div>
      <div class="inner_box">
        <div class="login_box">
          <a href="{% url 'login' %}" class="user_login">사용자 로그인</a>
        </div>
        <!-- 버튼 django로 기능 넣을 것 -->
        <div class="login_notice">SNS로 간편하게 로그인하기</div>
        <div class="login-box">
          <a href="#"
            ><img
              src="{% static 'img/naver banner.png' %}"
              class="naver_login"
              onclick="alert('추후 추가 예정입니다!')"
          /></a>
          <a href="{% url 'kakaoLogin' %}">
            <img
              src="{% static 'img/kakao_banner.png' %}"
              class="kakao_login"
            />
          </a>

          <a href="#"
            ><img
              class="google_login"
              src="{% static 'img/google banner.png' %}"
              onclick="alert('추후 추가 예정입니다!')"
          /></a>
        </div>
      </div>
    </div>
  </form>
</body>
{% endblock %}
