
{% extends 'base.html' %}
{% load static %} 
{% block head %}
    <link href="{% static 'css/signup.css' %}" rel="stylesheet">
    
    <!-- google font "Noto Sams KR" -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/bab0b57cd2.js" crossorigin="anonymous"></script>
    <title>회원가입</title>
{% endblock %} {% block content %}
<body>
    <!-- 중앙 흰색바탕 블록 -->
    <form class="inner_box" action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <div class="profile_settings">프로필 설정</div>
        <div class="profile">

            <img src="{{kakao_image}}" class="profile_photo_img" />
            <input type="hidden" value="{{kakao_image}}" name="profile"/>
        </div>
        <div class="profile_name_box">
            <input name="name" type="text" class="profile_name" placeholder="사용할 닉네임을 입력하세요"/>
         
        </div>
        <input name="tel" class="profile_number" placeholder="전화번호를 입력하세요" />
        <div class="profile_address_box">
            <input name="address" class="profile_address" placeholder="주소를 입력하세요" />
        </div>
        <input style="display: none;" name="email" type="text" value="{{kakao_email}}">
        <input type="submit" class="profile_settings_btn" value="설정 완료"></input>
    </div>
</body>
{% endblock %}