{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>마이페이지5</title>
    <link
      link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/mypage5.css' %}"
    />
  </head>
  {% endblock %} {% block content %}
  <div class="main_wrapper" style="display: flex"></div>
  {% include "mypage_base.html" %}
  <div>{% block profile %} {% endblock %}</div>
  <body>
    <!-- 메뉴바 여기부터 -->

    <section class="container-wrap">
      <div class="container">
    <section>
      <div class="title">1:1 문의</div>
      <div class="text">지금까지 작성한 후기를 볼 수 있습니다.</div>
      <div class="day-button">
        <a
          href="http://127.0.0.1:5500/cakewalk_front/mypage3.html"
          target="blank"
          class="a"
          style="border-right: 1px solid#767676"
          >1개월</a
        >
        <a
          href="http://127.0.0.1:5500/cakewalk_front/mypage3.html"
          target="blank"
          class="a"
          style="border-right: 1px solid#767676"
          >3개월</a
        >
        <a
          href="http://127.0.0.1:5500/cakewalk_front/mypage3.html"
          target="blank"
          class="a"
          style="border-right: 1px solid#767676"
          >6개월</a
        >
        <a
          href="http://127.0.0.1:5500/cakewalk_front/mypage3.html"
          target="blank"
          class="b"
          >전체시기</a
        >
      </div>

      <div class="ask-menu">
        <div class="ask-store">가게</div>
        <div class="ask-type">문의 유형</div>
        <div class="ask-content">문의 내용</div>
        <div class="ask-day">작성 날짜</div>
      </div>
    </section>
    <!-- 메뉴바 여기까지 -->
    <!-- 문의박스 여기부터 -->
    <div class="ask-menu-bar">
      <div class="ask-menu-name">멋사가게</div>
      <div class="ask-menu-type">사이즈</div>
      <div class="ask-menu-text">사이즈 관련 문의 드립니다</div>
      <div class="ask-menu-day">2022.06.08</div>
    </div>

    <!-- 문의박스 여기까지  -->
    <!-- 문의박스 여기부터 -->
    <div class="ask-menu-bar">
      <div class="ask-menu-name">유정이네 레터링케이크</div>
      <div class="ask-menu-type">도안</div>
      <div class="ask-menu-text">도안 관련 문의요!!</div>
      <div class="ask-menu-day">2022.04.07</div>
    </div>

    <!-- 문의박스 여기까지  -->
    <!-- 문의박스 여기부터 -->
    <div class="ask-menu-bar">
      <div class="ask-menu-name">look at cake store</div>
      <div class="ask-menu-type">디자인</div>
      <div class="ask-menu-text">디자인 문의드려요</div>
      <div class="ask-menu-day">2022.03.21</div>
    </div>

    <!-- 문의박스 여기까지  -->
    <div class="page-number">
      <a
        href="http://127.0.0.1:5500/cakewalk_front/mypage4.html"
        target="blank"
        class="c"
        >1</a
      >
    </div>
  </div>
</section>
    {% endblock %}
