{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>마이페이지4</title>
    <link
      link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/mypage4.css' %}"
    />
    <script
      src="https://kit.fontawesome.com/d35df90ac6.js"
      crossorigin="anonymous"
    ></script>
  </head>
  {% endblock %} {% block content %}
  <div class="main_wrapper" style="display: flex"></div>
  {% include "mypage_base.html" %}
  <div>{% block profile %} {% endblock %}</div>

  <main class="main">
<section class="container-wrap">
  <div class="container">
  <div class="title">작성 리뷰</div>
    <div class="text">지금까지 작성한 리뷰를 볼 수 있습니다.</div>
    <div class="day-button">
      <a
        href="http://127.0.0.1:5500/cakewalk_front/mypage3.html"
        target="blank"
        class="a"
        style="border-right: 1px solid#767676"
        >1개월</a
      >
      <a
        href="http://127.0.0.1:5500/cakewalk_front/mypage3.html"
        target="blank"
        class="a"
        style="border-right: 1px solid#767676"
        >3개월</a
      >
      <a
        href="http://127.0.0.1:5500/cakewalk_front/mypage3.html"
        target="blank"
        class="a"
        style="border-right: 1px solid#767676"
        >6개월</a
      >
      <a
        href="http://127.0.0.1:5500/cakewalk_front/mypage3.html"
        target="blank"
        class="b"
        >전체시기</a
      >
    </div>

    <section>
      <!-- 메뉴바 여기부터 -->
      <article class="article-review">
        <div class="review-menu">
          <div class="cake-title">케이크</div>
          <div class="order-menu">주문/주문확정</div>
          <div class="grade">별점</div>
          <div class="detail-text">상세 내용</div>
        </div>
        <!-- 메뉴바 여기까지 -->
        <!-- 리뷰박스 여기부터 -->
        <div class="cake-total">
          <div class="cake">
            <div>하라케이크</div>
            <div>-해피벌쓰데이(글씨)</div>
            <div class="taste">초코시트+우유생크림 / 미니</div>
          </div>

          <div class="cake-order-text">
            <div>2022.07.08</div>
            <div>주문 확정</div>
          </div>

          <div>
            <div class="cake-grade">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i>
            </div>
          </div>

          <div class="detail-text-write">
            <img class="file" src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fmyplace-phinf.pstatic.net%2F20211102_101%2F1635851249359Y0aWc_JPEG%2Fupload_a985f2d1739fccffc22f0c58727e09f2.jpg" alt="리뷰사진">
            <div class="write">
              아기자기한 케이크 맛집이에요ㅎㅎ 급하게 축하할 일 생겼을 때 자주  오게되더라고요 케이크말고도 쿠키, ...
            </div>
          </div>
        </div>

        <!-- 리뷰박스 여기까지 -->
        <!-- 리뷰박스 여기부터2-->
        <div class="cake-total">
          <div class="cake">
            <div>하라케이크</div>
            <div>-강아지케이크</div>
            <div class="taste">고구마시트+크림치즈생크림/ 미니</div>
          </div>

          <div class="cake-order-text">
            <div>2022.05.04</div>
            <div>주문 확정</div>
          </div>

          <div>
            <div class="cake-grade">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i
              ><i class="fa-regular fa-star"></i>
            </div>
          </div>

          <div class="detail-text-write">
           <img class="file" src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fpup-review-phinf.pstatic.net%2FMjAyMjA2MDhfMjcg%2FMDAxNjU0NjUwMjMxNTU5.ueFyyP3oOO3UkEX5nqUSzLsUJAUO-3jIhVWv0lVkz9Mg.QFJZhhCam3mGJDjyR8_U6TXFUEGhGLiIUXrwKsIxd7Eg.JPEG%2Fupload_7d7cabe19ab9047ba879a978d3dc4276.jpeg" alt="리뷰사진">
            <div class="write">
              귀여워요ㅠㅠㅠ 도시락케이크로 했더니 작고 너무 귀여워요ㅠㅠ 애기가 좋아하길ㅎㅎ
            </div>
          </div>
        </div>

        <!-- 리뷰박스 여기까지2 -->
        <!-- 리뷰박스 여기부터3 -->
        <div class="cake-total">
          <div class="cake">
            <div>하라케이크</div>
            <div>-생일케이크(빵빵덕)</div>
            <div class="taste">우유시트+우유생크림 / 미니</div>
          </div>

          <div class="cake-order-text">
            <div>2022.03.21</div>
            <div>주문 확정</div>
          </div>

          <div>
            <div class="cake-grade">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-regular fa-star"></i>
            </div>
          </div>

          <div class="detail-text-write">
           <img class="file" src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fpup-review-phinf.pstatic.net%2FMjAyMjA3MDdfNDYg%2FMDAxNjU3MTY3Mzg3ODAz.WVHplNuEV1ubBAM9qeWwV4zzlphpb4i6qaeY_AhmyGEg.JXhMiade0X3bOWv1Qqsywhzg8kZHJBlCjq6yX0K35-og.JPEG%2Fupload_3f3700b39372160f3898f5f1eb05fa63.jpg" alt="리뷰사진">
            <div class="write">
              당일날 도시락케이크 구하기 좋아요 케이크는 저랑 좀 안맞았는데 스콘이나 브라우니 맛은 평타에요
            </div>
          </div>
        </div>

        <!-- 리뷰박스 여기까지3-->
        <!-- 리뷰박스 여기부터4 -->
        <div class="cake-total">
          <div class="cake">
            <div>달콤미케이크</div>
            <div>-HBD MY 케이크</div>
            <div class="taste">녹차시트+우유생크림 / 미니</div>
          </div>

          <div class="cake-order-text">
            <div>2022.01.11</div>
            <div>주문 확정</div>
          </div>

          <div>
            <div class="cake-grade">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-regular fa-star"></i
              ><i class="fa-regular fa-star"></i
              ><i class="fa-regular fa-star"></i>
            </div>
          </div>

          <div class="detail-text-write">
           <img class="file" src="https://talkimg.imbc.com/TVianUpload/tvian/TViews/image/2022/03/25/ce1c4314-6f30-4aa0-ab3c-63831c6bf7fc.JPG" alt="리뷰사진">
            <div class="write">
              군대간 친구줬는데 좋아하네요ㅎㅎ 근데 맛이 좀 떨어짐 ㅜ
            </div>
          </div>
        </div>
      </article>
    </section>
    <!-- 리뷰박스 여기까지4 -->
    <div class="page-number">
      <a
        href="http://127.0.0.1:5500/cakewalk_front/mypage4.html"
        target="blank"
        class="c"
        >1</a
      >
      <a
        href="http://127.0.0.1:5500/cakewalk_front/mypage4.html"
        target="blank"
        class="c"
        >2</a
      >
      <a
        href="http://127.0.0.1:5500/cakewalk_front/mypage4.html"
        target="blank"
        class="c"
        >3</a
      >
    </div>
  </div>
  </section>
</main>
    {% endblock %}

