{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>사용자 채팅창</title>
    <link
      link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/user_chatting.css' %}"
    />
    <script src="{% static 'js/user_chatting.js' %}" defer></script>
</head>
{% endblock %}
{% block content %}
<div class = "wrapper">
    <div class = "chaeting_background">
        <div class = "upper_nav">
            <div class = "nav_img">
                <input  type="image" class="menu_img" name="menu_img" src="{% static 'img/메뉴바.png' %}">
                
            </div>
            <div class ="title">{{order.store.bsName}}</div>
        </div>
        
        <div class="main">
            <div class = "main_part1">                       

                <div class = "phrases">케이크도안</div>

               
                    <img  class="design_cake"  src="{{order.cake.url}}" />
               
                <div class="btns_div">
                <button class="btns btns_r">주문 취소하기</button>
                <button class="btns">도안 수정하기</button>
                </div>
              

                    
            </div class = "main_part1">

            
            <div class = "main_part2">  
                <div class = "upside_message">
                    <div class = "message1">
                        <span class="span1" >네!! 좋아요</span>
                        <span class="span1">이렇게 주문할게요!!</span>
                    </div class = "message1">
                    <img class = "profile1" name="profile1" src="{{request.user.profile_image}}">
                    <script>
                        console.log("{{requst.user.profile_image}}")
                    </script>
                </div class = "upside_message">

                <div class = "downside_message">
                    <img class="profile2" name="profile2" src="{{order.store.logo.url}}">

                        <div class = "message2">

                            <div class = "message3">

                                <div class="story1">
                                    <div>[주문완료]</div>
                                    <div>'{{order.user.name}}'님이 주문하신 케이크가 정상적으로 접수되었습니다.</div>
                                </div>
                                
                                <div class="story2">
                                    <div>주문자 : {{order.user.name}}</div>
                                    <div>주문일자 : 2022.07.30</div>
                                    <div>픽업일자 : {{order.date}}</div>
                                </div>
                                
                                <ul class="story3">
                                    <li>{{order.size}}</li>
                                    <li>{{order.flavor}}</li>
                                    <li>{{order.additional}}</li>
                                </ul>
                            

                                <div class="story4">
                                    결제하기 를 누르면 결제가 진행됩니다.
                                </div>

                                <button class="pay_in_message2" onclick="location.href='{% url 'payment' order.id %}'">결제하기</button>
                            </div class= "message3">

                        </div class="message2">
                        

                        
    
                </div class = "downside_message">    
                
                

                <div class = "MESSAGE">
                    <input  type="image" class="send" name="send_image" src="{% static 'img/역삼각형.png' %}">
                
                </div>
                
            </div class = "main_part2"> 

        </div class="main">   

            
        
    </div class = "chaeting_background">
</div class = "wrapper">
{% endblock %}