@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
}

.section {
    width: 861px;
    margin:  0 auto;
    padding-bottom: 74px;
}

.title {
    font-size: 28px;
    margin-top: 55px;
    margin-bottom: 39px;
}

.detail-wrap {
    border-top: 1px solid rgba(0, 0, 0, 0.37);
}

.row {
    align-items: center;
    height: 68px;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
}

.detail-title {
    width: 164px;
    padding-left: 18px;
}

#inquire {
    width: 190px;
    height: 29px;
}

.email-wrap {
    padding-right: 20px;
    width: 697px;
    display: flex;
    justify-content: space-between;
}

.email {
    display: flex;
    align-items: center;
}

.email-btn {
    font-size: 14px;
    padding: 5px 10px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}

.open-check-wrap {
    display: flex;
    flex-direction: row;
}

.check-wrap, .password-wrap {
    height: 28px;
    display: flex;
    align-items: center;
}

.check-wrap {
    margin-right: 30px;
}

.radio-btn {
    margin-right: 5.5px;
}

.password-text {
    margin-right: 6px;
}

.password-input {
    width: 138px;
    height: 28px;
    background-color: #D9D9D9;
    border: none;
}

.password-input:focus {
    outline: none;
}

.inquire-row {
    display: flex;
    flex-direction: column;
    height: 270px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
}

.title-wrap, .content-wrap {
    display: flex;
}

.title-wrap {
    margin-top: 16px;
}

.content-wrap {
    margin-top: 20px;
}

.title-input {
    width: 677px;
    height: 29px;
    background-color: #F4F4F4;
    padding: 4px 10px;
    border-radius: 5px;
    border: none;
}

.title-input:focus {
    outline: none;
}

.content {
    width: 677px;
    height: 189px;
    background-color: #F4F4F4;
    padding: 4px 10px;
    border-radius: 10px;
    resize: none;
    border: none;
}

.content:focus {
    outline: none;
}

.photo-add-wrap {
    height: 130px;
}

.plus-btn-wrap {
    display: flex;
}

.plus-btn {
    display: block;
    width: 100px;
    height: 100px;
    background-color: #D9D9D9;
    cursor: pointer;
}

#plus-icon {
    color: #7B7B7B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#add {
    visibility: hidden;
    width: 0px;
}

.submit-btn {
    text-align: center;
    font-size: 18px;
    width: 120px;
    height: 40px;
    padding: 0px 22px;
    display: block;
    margin: 0 auto;
    margin-top: 64px;
    background-color: white;
    cursor: pointer;
}