@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

.total {
  position: relative;
  width: calc(100% - 269px);
  height: calc(100vh - 60px);
  margin-left: 269px;
  padding-bottom: 79px;
}

.container {
  padding-top: 108px;
  width: 938px;
  margin: 0 auto;
}

.title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 36px;
}

.designs {
  display: flex;
}
  
.design-wrap {
  display: flex;
  flex-direction: column;
  width: 295px;
  height: 358px;
  background: rgba(217, 217, 217, 0.21);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-right: 29px;
}

.design-wrap:nth-child(3n) {
  margin-right: 0;
}


.design-img {
  width: 262px;
  height: 262px;
  margin: 0 auto;
  margin-top: 19px;
}

.cake-text {
  margin-left: 22px;
  margin-top: 22px;
}

.pages {
  text-align: center;
  margin-top: 22px;
  margin-bottom: 14px;
}

.page-btn {
  color: rgba(10, 10, 10, 0.48);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.page-btn:nth-child(1) {
  color: black;
}