* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

header {
  width: 100%;
  height: 4.063rem;
  display: flex;
  justify-content: space-between;
  padding: 0 3.125rem;
  position: fixed;
  background-color: white;
  z-index: 1;
}

.headerBottom {
  border-bottom: 1px solid #e5e8eb;
}

.logoImg {
  width: 100px;
  height: 60px;
}

.header-ul {
  display: flex;
  margin: 0;
  list-style: none;
}

.header-li {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-left: 60px;
}

main {
  padding-top: 65px;
  overflow: hidden;
  position: relative;
  height: 100%;
}

section {
  margin-left: 269px;
  padding-bottom: 79px;
}

.container {
  width: 938px;
  margin: 0 auto;
}

.title {
  font-size: 32px;
  font-weight: normal;
  margin-top: 108px;
  margin-bottom: 36px;
}

.order-wrap {
  display: flex;
}

#calendar {
  width: 431px;
  margin-right: 44px;
}

.month-wrap {
  display: flex;
  justify-content: center;
}

.month {
  font-size: 25px;
  margin: 0 15px;
}

.arrow-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dates {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 16px;
}

.days {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.cur {
  border-top: 1px solid #d9d9d9;
}

.day {
  width: calc(100% / 7);
}

.dates .day {
  height: 80px;
}

.day-num {
  margin-top: 16px;
  margin-bottom: 12px;
}

.count {
  border-radius: 50%;
  width: 21px;
  height: 21px;
  background-color: #ffc7a7;
  margin: 0 auto;
}

.order-detail-wrap {
  width: 503px;
  padding-top: 16px;
  border: 1px solid black;
}

.date {
  display: block;
  text-align: center;
  font-size: 25px;
}

.detail-wrap {
  padding-left: 53px;
  margin-bottom: 17px;
}

.cake-design {
  display: block;
  width: 191px;
  height: 191px;
  margin: 0 auto;
}

.pages {
  text-align: center;
  margin-top: 22px;
  margin-bottom: 14px;
}

.page-btn {
  color: rgba(10, 10, 10, 0.48);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.page-btn:nth-child(1) {
  color: black;
}
