@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

.gray {
  color: #8a8a8a;
}

html,
body {
  margin: 0;
  height: 100%;
}

.headerBottom {
  border-bottom: 1px solid #e5e8eb;
}

.logoImg {
  width: 100px;
  height: 60px;
}

.header-ul {
  display: flex;
  margin: 0;
  list-style: none;
}

.header-li {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-left: 60px;
}

.total-wrap {
  z-index: -10;
}

.total {
  position: relative;
  width: calc(100% - 269px);
  height: calc(100vh - 60px);
  margin-left: 269px;
  padding-bottom: 79px;
}

.container {
  padding-top: 108px;
  width: 938px;
  margin: 0 auto;
}

.title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 36px;
}

.order-wrap {
  display: flex;
}

#calendar {
  width: 431px;
  margin-right: 44px;
}

.month-wrap {
  display: flex;
  justify-content: center;
}

.month {
  font-size: 25px;
  font-weight: 500;
  margin: 0 15px;
}

.arrow-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dates {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 16px;
}

.days {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 10px;
}

.cur {
  border-top: 1px solid #d9d9d9;
}

.day {
  width: calc(100% / 7);
}

.dates .day {
  height: 80px;
}

.day-num {
  margin-top: 16px;
  margin-bottom: 12px;
}

.count {
  border-radius: 50%;
  width: 21px;
  height: 21px;
  background-color: #ffc7a7;
  margin: 0 auto;
}

.order-detail-wrap {
  width: 503px;
  padding-top: 16px;
  border: 1px solid black;
}

.date {
  display: block;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}

.detail-wrap {
  padding-left: 53px;
  margin: 17px 0;
}

.reserve, .modal-reserve {
  margin-bottom: 11px;
  font-size: 18px;
}

.cake-design {
  display: block;
  width: 191px;
  height: 191px;
  margin: 0 auto;
  cursor: pointer;
}

.pages {
  text-align: center;
  margin-top: 22px;
  margin-bottom: 14px;
}

.page-btn {
  color: rgba(10, 10, 10, 0.48);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.page-btn:nth-child(1) {
  color: black;
}

.modal-wrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.modal {
  width: 954px;
  height: 638px;
  border: 1px solid black;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.show-wrap {
  display: block;
}

.show {
  display: flex;
}

.modal-date {
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 27px;
}

.modal-cake {
  width: 438px;
  height: 438px;
}

.modal-info, .modal-detail-wrap {
  display: flex;
  flex-direction: column;
}

.modal-info {
  margin-right: 52px;
}

.modal-memo {
  margin-top: 14px;
  width: 327px;
  height: 418px;
  background: #F4F4F4;
  border: none;
}