@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

/* 네브 */
/* .side {
    position: fixed;
    top: 0;
    z-index: -5;
    padding: 65px 41.3px 0px 41.3px;
    width: 269px;
    height: 100%;
    background-color: rgba(248, 187, 208, 0.42);
}

.profile-img {
    display: block;
    margin: 0 auto;
    margin-top: 90px;
}

.use-name {
    display: flex;
    justify-content: center;
}

.my-walk {
    font-size: 22px;
    display: block;
    margin-bottom: 32px;
    color: rgba(0, 0, 0, 0.72);
}

.use-name-under {
    width: 187px;
    height: 7.13px;
    border: none;
    background-color: rgba(248, 187, 208, 0.68);
}

.nav-wrap {
    padding: 0;
    list-style: none;
}

.nav-li {
    margin-bottom: 20px;
} */

/* 메인섹션 레이아웃 */

body {
    position: relative;
    /* overflow: hidden; */
    z-index: -10;
}

.nav-li:nth-child(2) {
    background-color: #e6ccd5;
}

.main {
    margin: 0 auto;
    margin-left: 269px;
    width: calc(100% - 269px);
}

.container-wrap {
    /* margin-left: 269px; */
    padding-bottom: 79px;
    position: relative;
}

/* .container-wrap {
    margin-left: 269px;
    padding-bottom: 66px;
} */

.container {
    width: 937px;
    margin: 0 auto;
}

/* 섹션 헤더 */
.setting-header {
    display: flex;
    padding-top: 80px;
    margin-bottom: 42px;
    justify-content: space-between;
    align-items: end;
}

.title {
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 13px;
}

.show-btns {
    display: flex;
}

.btn-wrap {
    display: flex;
    flex-direction: column;
}

.btn-wrap:nth-child(1) {
    margin-right: 24px;
}

.show-btn {
    width: 40px;
    height: 40px;
    color: #D9D9D9;
    font-size: 32px;
    margin-bottom: 13px;
    border-radius: 50%;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.03);
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* 섹션 헤더 끝 */

.time-wrap {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    color: #767676;
    margin-bottom: 17px;
}

.time {
    padding: 0 11px;
    border-right: 1.5px solid #767676;
    cursor: pointer;    
}

.time:nth-child(4) {
    font-weight: bold;
    color: black;
    border-right: none;
}

/* 내역 테이블 */
.info-wrap {
    width: 937px;
    border-top: 1px solid #000000;
    border-collapse : collapse;
    margin-bottom: 51px;
}

.info-body {
    vertical-align: middle;
    font-size: 15px;
}

.row {
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #D9D9D9;
}

.block {
    vertical-align: inherit;
}

.thead-th {
    height: 47px;
    border-bottom: 1px solid black;
    vertical-align: inherit;
}

.thead-th:nth-child(1) {
    width: 324px;
}

.thead-th:nth-child(2) {
    width: 158px;
}

.thead-th:nth-child(3) {
    width: 186px;
}

.thead-th:nth-child(4) {
    width: 149px;
}

.cake-wrap {
    display: flex;
    vertical-align: inherit;
}

.cake-photo {
    display: block;
    margin: 6px 15px 6px 12px;
}

.cake-options {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    text-align: start;
}

.cake-option {
    font-weight: normal;
}

.cake-option:nth-child(3) {
    color: rgba(0, 0, 0, 0.53);
}

.state-btn {
    margin-top: 10px;
    padding: 3px 15px;
    border: 1px solid rgba(49, 0, 0, 0.13);
    border-radius: 5px;
    background-color: white;
}

.state-text {
    color: #0602DB;
}

.review-link:link { color: black; } 
.review-link:visited { color: black; }
.review-link:hover { color: black; }

/* .cake-wrap, .block {
    border-bottom: 1px solid #D9D9D9;
} */

/* 내역 테이블  끝*/

.pages {
    text-align: center;
}

.page-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}