@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.nav-li:nth-child(6) {
  background-color: #e6ccd5;
}

body {
  position: relative;
  /* overflow: hidden; */
  z-index: -10;
}

.main {
  margin: 0 auto;
  margin-left: 269px;
  width: calc(100% - 269px);
}

.container-wrap {
  /* margin-left: 269px; */
  padding-bottom: 79px;
  position: relative;
}

.container {
  width: 937px;
  margin: 0 auto;
}

.title {
  font-size: 32px;
  font-weight: 550;
  margin-top: 175px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.text {
  padding-top: 12px;
}

.time-wrap {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  color: #767676;
  margin-bottom: 17px;
  margin-top: 26px;
}

.time {
  padding: 0 11px;
  border-right: 1.5px solid #767676;
  cursor: pointer;
}

.time:nth-child(4) {
  font-weight: bold;
  color: black;
  border-right: none;
}

.last-talk {
  font-size: 15px;
  margin-top: 22px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 935px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-cake {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  margin-left: 20px;
  margin-top: 5px;
}

.name-text {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin-left: 35px;
  margin-top: 10px;
  padding-top: 10px;
  width: 530px;
  height: 60px;
  border-right: 1px solid #d9d9d9;
}

.mytalk-text {
  margin-top: 5px;
}

.info-text {
  display: flex;
  flex-direction: column;
  color: #808080;
  font-size: 13px;
  margin-top: 25px;
  margin-left: 20px;
}

.total-first {
  display: flex;
  width: 881px;
  height: 87px;
  margin-top: 50px;
  background: #fef4f7;
  border-radius: 15px;
  margin-left: 33px;
}

.total-second {
  display: flex;
  width: 881px;
  height: 87px;
  margin-top: 20px;
  background: #fef4f7;
  border-radius: 15px;
  margin-left: 33px;
}

.pages {
  text-align: center;
}

.page-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.line-bottom {
  margin-top: 46px;
  width: 935px;
}

.last-talk-wrap {
  margin-bottom: 51px;
}
