@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap%27');

* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

.side {
    float: left;
    position: absolute;
    /* position: fixed; */
    top: 0;
    z-index: -5;
    padding: 65px 41.3px 0px 41.3px;
    width: 269px;
    height: 100%;
    background-color: rgba(248, 187, 208, 0.42);

}

.profile-img {
  display: block;
  margin: 0 auto;
  margin-top: 90px;
}


.user-name {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.my-walk {
    display: block;
    margin-bottom: 32px;
    color: rgba(0, 0, 0, 0.72);
    font-weight: 500;
    font-size: 24px;
}

.user-name-under {
    width: 187px;
    height: 7.13px;
    border: none;
    background-color: rgba(248, 187, 208, 0.68);

}

.nav-wrap {
  padding: 0;
  list-style: none;
}

.nav-li {
    height: 50px;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 8px;
}

