@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

.body {
  position: relative;
  margin: 0;
}

.color {
  background-color: rgba(217, 217, 217, 0.5);
}

.step {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.step-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  /* line-height: 37px; */
  color: #767676;
  margin-left: 96px;
}

.line {
  height: 1px;
  position: absolute;
  width: 488px;
  z-index: -1;
}

.step-btn:nth-child(1) {
  margin-left: 0;
}

.explain-wrap {
  background-color: rgba(255, 246, 246, 0.4);
}

.all {
  display: flex;
  flex-direction: row;
  width: 960px;
  margin: 0 auto;
  margin-top: 13px;
  margin-left: 29px;
}

.storenotice {
  font-size: 18px;
}

.storetext {
  font-size: 15px;
  margin-left: 12px;
}

.notice-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #515151;
}

.search-input {
  width: 415px;
  height: 33.15px;
  margin-bottom: 12px;
  border: 2px solid #000000;
  border-radius: 20px;
  padding-left: 12px;
  background-color: #FFFFFF;
}

.map-wrap {
  width: 433px;
}

#map {
  width: 100%;
  height: 383px;
}

.right {
  display: flex;
  flex-direction: column;
}

.store {
  display: flex;
  flex-direction: row;
  width: 415px;
  height: 73px;
  border-radius: 5px;
  background-color: #ffe5e5;
  margin: 0 25px;
  padding: 12px 13px;
}

.scroll {
  height: 299px;
  padding-right: 8px;
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
  width: 6px; /* 스크롤바의 너비 */
}

.scroll::-webkit-scrollbar-thumb {
  height: 112px; /* 스크롤바의 길이 */
  background: #d9d9d9; /* 스크롤바의 색상 */

  border-radius: 10px;
}

.scroll::-webkit-scrollbar-track {
  background: transfer; /*스크롤바 뒷 배경 색상*/
}

.mystore {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
}

.storebox {
  border: 1px solid;
  border-radius: 10px;
  width: 399px;
  height: 93px;
  border-color: #dbdbdb;
  margin-top: 10px;
}

.first-box {
  margin-top: 0px;
}

.cakelogo {
  width: 68.5px;
  height: 68.5px;
  border-radius: 100%;
  margin-right: 25px;
  margin-left: 33px;
}

.storewrap {
  display: flex;
  flex-direction: row;
  height: 93px;
  align-items: center;
}

.storetextwrap {
  display: flex;
  flex-direction: column;
}

.storeclose {
  margin: 20px 30px;
}

.storename {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 7px;
}

.storeinfo {
  font-size: 12px;
}

.store-info-line {
  display: flex;
  justify-content: space-between;
  color: #8A8A8A;
}

.store-info-line:nth-child(1) {
  margin-bottom: 5px;
}

/* .store-info-second-line {
  width: 270px;
  display: flex;
  justify-content: space-between;
} */

.store-info-insta {
  width: 125px;
  margin-left: 22px;
}

.store-info-time {
  width: 125px;
  margin-left: 8px;
}

i {
  color: #8A8A8A;
}

.optionWrap {
  display: flex;
  width: 960px;
  margin: 0 auto;
  padding-top: 32px;
}

.step {
  height: 116px;
}

.one-select {
  flex-direction: column;
}

.order-bottom {
  padding-bottom: 86px;
}

.option {
  width: 480px;
}

.optionTitleWrap {
  display: flex;
}


.optionNumber {
  font-size: 60px;
  color: #767676;
  margin-right: 9px;
}

.optionTextWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.optionText {
  font-size: 20px;
}

.optionSubText {
  font-size: 15px;
  color: #515151;
  margin-top: 10px;
}

.optionContents {
  width: 433px;
  margin-left: 29px;
  margin-top: 8px;
}

/* 주문2 */

.all{
  display: flex;
}

#calendar {
  width: 417px;
height: 391px;
margin-right: 76px;
margin-top: 15px;
}

.month-wrap {
  display: flex;
  justify-content: center;

}

.month {
  width: 86px;
  height: 34px;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 34px;

  color: #000000;
  margin: 0 15px;
}

.arrow-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dates {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 16px;
  width: 390px;
  height: 366px;
}

.days {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.cur {
  border-top: 1px solid #d9d9d9;
}

.day {
  width: calc(100% / 7);
}

.day:nth-child(7n), .day:nth-child(7n+1) {
  color: #8a898e;
}

.dates .day {
  width: 51px;
  height: 65px;
}

.day-num {
  margin-top: 16px;
  margin-bottom: 12px;
}

.today {
  display: flex;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 6px;
    justify-content: center;
    align-items: center;
}



.choice_pickup{
  width: 141px;
  height: 26px;
  margin-bottom: 20px;

}

.times_div{
  width: 378px;
height: 256px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
}

.time_btn{
  border: 0;
  width: 83px;
height: 49px;
font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
}

.pink_btn{
  background: #FFE5E5;


color: #000000;
}

.last_btns_div{
  width: 280px;
  height: 49px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* 주문2 끝 */

.fileLabel {
  width: 108px;
  height: 32px;
  background-color: #ffe5e5;
  cursor: pointer;
  padding: 4px 20px;
  border-radius: 5px;
  border: 1px solid black;
}

.fileInput {
  visibility: hidden;
  width: 0px;
}

.fileName {
  display: inline-block;
  width: 315px;
  height: 32px;
  padding: 0 10px;
  color: #999999;
  vertical-align: middle;
  border: 1px solid #dddddd;
}

.requireTextarea {
  width: 100%;
  height: 98px;
  resize: none;
  margin-top: 10px;
  background-color: #efeded;
  border: none;
  padding-top: 9px;
  padding-left: 16px;
}

.requireTextarea:focus {
  outline: none;
}

.order_cake_design {
  width: 433px;
}

.attachedImgDiv {
  width: 100%;
  height: 267px;
  margin-top: 11px;
  background-color: #efeded;
}

.detailOptionWrap {
  width: 417px;
  height: 346px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
}

.detailOption {
  padding: 32px 45px 0 44px;
}

.detailOptionText {
  display: block;
}

.size {
  display: flex;
  /* flex-direction: column; */
}

.text {
  display: inline-block;
  width: 110px;
}

.radioBtnForm {
  display: inline;
}

.radioBtn {
  margin-left: 0
}

.detailOptionSubText {
  font-size: 13px;
  text-align: right;
}

.taste {
  display: flex;
  margin-top: 16px;
}

.taste-select {
  width: 212px;
}

.adtnlOptionWrap {
  display: flex;
  margin-top: 17px;
}

.adtnlOptionWrap .text {
  padding-left: 7px;
}

.adtDetailWrap {
  display: flex;
  flex-direction: column;
}

.checkBtnForm {
  /* margin-left: 34px; */
}

.checkLabel {
  display: block;
  margin-bottom: 4px
}

.countInput {
  width: 30px;
  border: none;
  border-bottom: 1px solid black;
}

.countInput:focus {
  outline: none;
}

.detailOptionText {
}

.detailOptionSubText {
  font-size: 13px;
  text-align: right;
}

.request {
  display: block;
  margin: 0 auto;
  margin-top: 52px;
  width: 394px;
  height: 98px;
  background-color: #EFEDED;
  font-size: 18px;
  padding-top: 7px;
  padding-left: 23px;
  border: none;
  resize: none;
}

.request::placeholder {
  color: black;
  font-size: 18px;
}

.requireTextarea:focus, .request:focus {
  outline: none;
}

.orderBtn {
  width: 417px;
  height: 56px;
  background-color: #ffe5e5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 19px;
  box-sizing: border-box;
  margin-top: 12px;
  border: none;
  cursor: pointer;
}

.modal-wrap {
  position: absolute;
  height: 100vh;
  width: 100%;
  bottom: 0;
  left: 0;
  display: none;
}

.modal {
  position: absolute;
  padding: 57px 58px;
  width: 584px;
  height: 499px;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 10;
  display: none;
}

.show {
  display: block;
}

.scroll-none {
  overflow: hidden;
}

.modal-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
}

.modal-text {
  margin: 76px 0;
  font-size: 23px;
  font-weight: 500;
  line-height: 34px;
}

.confirm-btn {
  width: 100px;
  height: 56px;
  border: none;
  background-color: #FFE5E5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 23px;
  cursor: pointer;
}

.chatting {
  text-decoration: none;
}

.chatting:link { color: black; } 
.chatting:visited { color: black; }
.chatting:hover { color: black; }