@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

.side {
  position: fixed;
  padding: 101px 41.3px 0px 41.3px;
  width: 269px;
  height: 100vh;
  background-color: rgba(248, 187, 208, 0.42);
  top: 0;
  z-index: -5;
}

.profile-img {
  display: block;
  margin: 0 auto;
  width: 90px;
  height: 90px;
}

.shop-name {
  font-size: 20px;
  text-align: center;
  display: block;
  margin-top: 14px;
  margin-bottom: 20px;
}

.shop-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 168px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px 0;
}

.shop-info {
  width: 135px;
  margin-bottom: 3px;
  color: #8a8a8a;
}

.shop-info .fa-solid,
.shop-info .fa-brands {
  color: #8a8a8a;
  margin-right: 8px;
}

.shop-time {
  margin-bottom: 0;
}

.nav-wrap {
  padding: 0;
  list-style: none;
  margin-top: 36px;
}

.nav-li {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.nav-li:nth-child(1) {
  background-color: #e6ccd5;
}
