.pink_background {
  display: flex;

  align-items: center;
  justify-content: center;
  width: 100%;
  height: 142px;
  background-color: #fff6f6;
}

.store_everything {
  width: 955px;
  display: flex;
}

.sort_fil {
  display: flex;
  margin: 0 auto;
  margin-bottom: 13px;
  margin-top: 22px;
  justify-content: end;
  width: 955px;
  height: 30px;
}

.pics_cakes {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 955px;
  height: 958px;
}

.store_title {
  display: flex;
  width: 70%;
  justify-content: space-between;

  width: 237px;
  height: 49px;

  margin-right: 428px;

  font-family: "NanumGothic";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;

  color: #000000;
}

.store_info {
  width: 18.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #8A8A8A;
}
/*display: flex;
    margin-left: 906px;
    margin-top: -23px;
    flex-direction: column;
    flex-wrap: wrap;

    
    width: 228px;
    height: 44px;
    
    

    font-family: 'Noto Sans';


color: #8A8A8A;

*/

.buttons {
  display: flex;
  justify-content: center;
}

.page_button {
  border: 0;
  background: none;
  color: #0a0a0a 48%;
}
