
/* *{
    border: 1px solid red;
} */
.wrapper {
  margin: 0 auto;

  width: 80vw;
}
.b_watch {
  height: 4rem;
  display: flex;
  justify-content: center;
  margin-top: 65px;
}

.b_watch_item {
  padding: 1rem;
  border-bottom: 2px solid #ccc;
  color: #ccc;
}
.b_watch_item_active {
  color: black;
  border-bottom: 2px solid black;
}

.list {
  margin: 49px 0 51px 0;
  display: flex;
  justify-content: center;
  padding-left: 272px;
  padding-right: 936px;
}
.list_item {
  border-right: 2px solid #767676;

  padding: 0 1rem;
  margin: 0.5rem 0;

  color: #ccc;
}
.list_item_active {
  color: black;
}

.list_item1 {
  padding: 0 1rem;
  margin: 0.5rem 0;

  color: #ccc;
}

.filter {
  position: relative;

  display: flex;
  margin: 0 auto;
  margin-bottom: 13px;
  justify-content: end;

  width: 955px;
  height: 30px;
}

.filter_img {
  width: 30px;
  height: 30px;
}
.sorting {
  
  top: 0;
  right: 0;
}

.pink_background {
  width: 100vw;
  /* height: 150vh; */
  background: #fff6f6;
}

.store_box {
  box-sizing: border-box;
  border: 1px solid black;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  width: 954px;
  height: 145px;
  background-color: white;
  border-radius: 22px;

  padding: 1rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 13px;
}
.store_logo {
  width: 93px;
  height: 90px;

  margin: 0 1rem;
  margin-right: 2rem;
}

.store_logo_img {
  width: 90px;
  height: 90px;
}

.store_detail_line {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.store_detail_line:nth-child(1) {
  margin-bottom: 7px;
}

.main_content {
  width: 100%;
  height: 100%;
}

.title_in_div {
  position: relative;

  width: 100%;
  min-height: 1.5rem;

  margin-bottom: 0.5rem;
  padding: 0 15px;
}
.store_name {
  position: absolute;
  top: 0;
  left: 0;

  font-size: 1.5rem;
  font-weight: 900;
}
.sig_cake {
  position: absolute;
  top: 0;
  right: 2rem;
}

.contents_div {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  height: 4.438rem;
  color: #8A8A8A;
}

.store_detail {
  border-right: 1px solid #8a8a8a;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    padding: 1rem 0rem 1rem 0.000001rem;
    /* margin-left: -5px; */
    width: 248px;
    height: 100%;
}

.address {
  width: 15px;
  height: 15px;
}

.IG {
  width: 15px;
  height: 15px;
}

.phone {
  width: 15px;
  height: 15px;
}

.phone1 {
  margin-right: 9px;
}

.address1 {
  margin-right: 33px;
}

.time {
  width: 15px;
  height: 15px;
}

.Lorem {
  border-right: 1px solid #8a8a8a;
  padding-right: 13px;
  margin-top: 0.009rem;
  padding: 0 1rem;
  display: flex;
  width: 278px;
  height: 100%;
}

.circles {
  width: 57px;
  height: 57px;
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}

.cake_circle {
  padding: 0.09rem;
  margin-right: 0.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
  padding-top: 53px;
  padding-bottom: 33px;
}

.page_button {
  border: 0;
  outline: 0;
  background: none;
}

.page_button1 {
  border: 0;
  outline: 0;
  color: black;
  background: none;
}

