{% extends 'base.html' %} {% load static %} {% block head %}
<title>케이크보기</title>

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/watch_cake.css' %}"
/>
<script src="{% static 'js/watch_cake.js' %}" defer></script>
<script src="https://kit.fontawesome.com/bab0b57cd2.js" crossorigin="anonymous"></script>

{% endblock %} {% block content %}

<body class="body">
  <div class="b_watch">
    <div
      class="b_watch_item b_watch_c b_watch_item_active"
      onclick="location.href='{% url 'watch_cake' %}'"
    >
      케이크보기
    </div>
    <div
      class="b_watch_item b_watch_s"
      onclick="location.href='{% url 'watch_store' %}'"
    >
      가게보기
    </div>
  </div>

  <form action="{% url 'watch_cake' %}">
    <input type="hidden" name="code" id="code">

  <ul class="tag-wrap">

    <li class="tag ">
      <button class="tag-btn" value="0">#모두보기</button>
    
    </li>

    <li class="tag ">
      <button class="tag-btn" value="1">#축! 생일</button>
    
    </li>
    <li class="tag"><button class="tag-btn" value="2">#커플케이크</button></li>
    <li class="tag"><button class="tag-btn" value="3">#가족케이크</button></li>
    <li class="tag"><button class="tag-btn" value="4">#캐릭터케이크</button></li>
    <li class="tag"><button class="tag-btn" value="5">#기본케이크</button></li>
  </ul>
</form>
<script>
  let codebuttons = document.querySelectorAll(".tag-btn")
  for(let button of codebuttons){

    if (button.value === "{{code}}"){
      
      button.parentNode.classList.add("tag-check");
      button.classList.add("tag-color");
      console.log("선택");
    }
  }
</script>

  <div class="sort_fil">
    <select class="sorting" name="정렬">
      <option value="최신순">최신순</option>
      <option value="리뷰많은순">리뷰많은순</option>
      <option value="인기순">인기순</option>
      <option value="추천순">추천순</option>
    </select>

  
  </div>

  <div class="pink_background">
    <div class="pics_cakes">
   {% for cake in cakes %}
      <div class="cp">
        <img class="img2" src="{{cake.image.url}}"  alt="cake" id="{{cake.id}}"/>
        <div style="display: flex; flex-direction : column; margin-bottom : 20px;">
        <span style="color: #767676;">{{cake.name}}</span>
        <span style="color: #767676; ">  미니 : {{cake.price_mini}}원</span>
      </div>
      </div>
    {% endfor %}
    </div>
    <div class="buttons">
      <button class="page_button1">1</button>
      <button class="page_button">2</button>
      <button class="page_button">3</button>
    </div>
  </div>
    
    
    <div class="modal">
      <div class="modal_body">
        <div class = "close_modal" >X</div>
        <button class="previous">
          <i class="fa-solid fa-chevron-left"></i>
        </button>

        <button class="next">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
        
        <img
          class="modal-img"
          src=""
          alt="cake"
          id=""
        />
       
    
        <button
          class="m_button"
          id="goToStore"
        >
          가게보러가기
        </button>
        <button
          class="m_button"
          id="goToOrder"
        >
          주문하러가기
        </button>

        
      
  </>
  <!--div class="buttons">
    <button class="page_button1">1</button>
    <button class="page_button">2</button>
    <button class="page_button">3</button>
  </div-->
    
    </div>

    <script>
      const images = document.querySelectorAll(".cp");
      for(let image of images){
        image.addEventListener("click", ( e ) => {
          console.log(e.target);
        })
      }
      
    </script>

    {% endblock %}
 
</body>
</html>

