{% extends 'base.html' %} {% load static %} {% block head %}
<title>케이크보기</title>

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/watch_cake.css' %}"
/>
<script src="{% static 'js/watch_cake.js' %}" defer></script>
<script src="https://kit.fontawesome.com/bab0b57cd2.js" crossorigin="anonymous"></script>

{% endblock %} {% block content %}

<body class="body">
  <div class="b_watch">
    <div
      class="b_watch_item b_watch_c b_watch_item_active"
      onclick="location.href='{% url 'watch_cake' %}'"
    >
      케이크보기
    </div>
    <div
      class="b_watch_item b_watch_s"
      onclick="location.href='{% url 'watch_store' %}'"
    >
      가게보기
    </div>
  </div>

  <div class="hash">
    <button class="hash2">#어버이날</button>
    <button class="hash1">#축!전역</button>
    <button class="hash1">#커플기념일</button>
    <button class="hash1">#생일</button>
    <button class="hash1">#크리스마스</button>
  </div>

  <div class="sort_fil">
    <select class="sorting" name="정렬">
      <option value="최신순">최신순</option>
      <option value="리뷰많은순">리뷰많은순</option>
      <option value="인기순">인기순</option>
      <option value="추천순">추천순</option>
    </select>

  
  </div>

  <div class="pink_background">
    <div class="pics_cakes">
   {% for cake in cakes %}
      <div class="cp">
        <img class="img2" src="{{cake.image.url}}"  alt="cake" id="{{cake.id}}"/>
      </div>
    {% endfor %}
    {% for cake in cakes %}
      <div class="cp">
        <img class="img2" src="{{cake.image.url}}"  alt="cake" id="{{cake.id}}"/>
      </div>
    {% endfor %}
    {% for cake in cakes %}
      <div class="cp">
        <img class="img2" src="{{cake.image.url}}"  alt="cake" id="{{cake.id}}"/>
      </div>
    {% endfor %}
    {% for cake in cakes %}
      <div class="cp">
        <img class="img2" src="{{cake.image.url}}"  alt="cake" id="{{cake.id}}"/>
      </div>
    {% endfor %}
    {% for cake in cakes %}
      <div class="cp">
        <img class="img2" src="{{cake.image.url}}"  alt="cake" id="{{cake.id}}"/>
      </div>
    {% endfor %}
    {% for cake in cakes %}
      <div class="cp">
        <img class="img2" src="{{cake.image.url}}"  alt="cake" id="{{cake.id}}"/>
      </div>
    {% endfor %}
    {% for cake in cakes %}
      <div class="cp">
        <img class="img2" src="{{cake.image.url}}"  alt="cake" id="{{cake.id}}"/>
      </div>
    {% endfor %}
    {% for cake in cakes %}
      <div class="cp">
        <img class="img2" src="{{cake.image.url}}"  alt="cake" id="{{cake.id}}"/>
      </div>
    {% endfor %}
    {% for cake in cakes %}
      <div class="cp">
        <img class="img2" src="{{cake.image.url}}"  alt="cake" id="{{cake.id}}"/>
      </div>
    {% endfor %}
    {% for cake in cakes %}
      <div class="cp">
        <img class="img2" src="{{cake.image.url}}"  alt="cake" id="{{cake.id}}"/>
      </div>
    {% endfor %}{% for cake in cakes %}
    <div class="cp">
      <img class="img2" src="{{cake.image.url}}"  alt="cake" id="{{cake.id}}"/>
    </div>
  {% endfor %}
  {% for cake in cakes %}
      <div class="cp">
        <img class="img2" src="{{cake.image.url}}"  alt="cake" id="{{cake.id}}"/>
      </div>
    {% endfor %}
      </div>
    </div>
    
    <div class="modal">
      <div class="modal_body">
        <div class = "close_modal" >X</div>
        <button class="previous">
          <i class="fa-solid fa-chevron-left"></i>
        </button>

        <button class="next">
          <i class="fa-solid fa-chevron-right"></i>
        </button>

        <img
          class="modal-img"
          src=""
          alt="cake"
        />
        
        <button
          class="m_button"
          id="goToStore"
        >
          가게보러가기
        </button>
        <button
          class="m_button"
          id="goToOrder"
        >
          주문하러가기
        </button>

        
      
  </div>
  <!--div class="buttons">
    <button class="page_button1">1</button>
    <button class="page_button">2</button>
    <button class="page_button">3</button>
  </div-->
    
    </div>

    {% endblock %}
 
</body>
</html>

