{% extends 'base.html' %} {% load static %}{% block head %}
<link rel="stylesheet" href="{% static 'css/manager_shop2.css' %}" />
<script
  src="https://kit.fontawesome.com/d35df90ac6.js"
  crossorigin="anonymous"
></script>
<title>Document</title>
{% endblock %}
<div></div>

<!-- 성공적인 수정에 대한 알림창 -->
{% block content %} {% if messages %} {% for message in messages %}
<script>
  alert("{{message.message}}");
</script>
{% endfor %} {% endif %}
<!-- 요기까지 -->

<div class="main_wrapper" style="display: flex">
  {% include 'store_base.html' %}
  <div style="margin-right: 2rem">{% block profile %} {% endblock %}</div>

  <section>
    <div class="container">
      <h1 class="title">가게관리</h1>
      <div class="options-wrap">
        <h2 class="option-title">가게 정보 페이지 관리</h2>
        <form
          class="{% url 'manage_store' %}"
          method="post"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <article class="options">
            <section class="option-wrap">
              <span class="option-name">가게 공지사항</span>
              <div class="option-detail-wrap">
                <textarea class="notice" name="notice" value="{{notice}}">
{{notice}} </textarea
                >
              </div>
            </section>
            <section class="option-wrap">
              <span class="option-name">케이크 사진 관리</span>
              <div class="cake-detail-wrap">
                <div class="update-cake-wrap">
                  <input type="file" name="image" />
                  <div class="update-cake-info">
                    <input
                      class="cake-name-input"
                      type="text"
                      name="name"
                      placeholder="케이크 이름"
                    />
                    <div class="update-cake-price">
                      <span>가격</span>
                      <div class="input-wrap">
                        <input
                          type="radio"
                          class="size"
                          id="mini"
                          name="sizemini"
                        />
                        <label for="mini">미니</label>
                        <input
                          class="price-input"
                          type="text"
                          name="price_mini"
                        />

                        <input
                          type="radio"
                          class="size"
                          id="two"
                          name="size2"
                        />
                        <label for="two">2호</label>
                        <input class="price-input" type="text" name="price_2" />

                        <input
                          type="radio"
                          class="size"
                          id="one"
                          name="size1"
                        />
                        <label for="one">1호</label>
                        <input class="price-input" type="text" name="price_1" />

                        <input
                          type="radio"
                          class="size"
                          id="three"
                          name="size3"
                        />
                        <label for="three">3호</label>
                        <input class="price-input" type="text" name="price_3" />
                      </div>
                    </div>
                    <textarea
                      class="cake-notice"
                      name="cake-notice"
                      placeholder="알림사항(선택)"
                    ></textarea>
                  </div>
                </div>
                <ul class="cake-list">
                  <li class="cake-photo">
                    <img src="{% static 'img/image 57.png' %}" alt="cake" />
                    <button class="delete-btn">
                      <i class="fa-solid fa-xmark"></i>
                    </button>
                  </li>
                  <li class="cake-photo">
                    <button class="delete-btn">
                      <i class="fa-solid fa-xmark"></i>
                    </button>
                  </li>
                  <li class="cake-photo">
                    <button class="delete-btn">
                      <i class="fa-solid fa-xmark"></i>
                    </button>
                  </li>
                  <li class="cake-photo">
                    <button class="delete-btn">
                      <i class="fa-solid fa-xmark"></i>
                    </button>
                  </li>
                  <li class="cake-photo">
                    <button class="delete-btn">
                      <i class="fa-solid fa-xmark"></i>
                    </button>
                  </li>
                  <li class="cake-photo">
                    <button class="delete-btn">
                      <i class="fa-solid fa-xmark"></i>
                    </button>
                  </li>
                  <li class="cake-photo">
                    <button class="delete-btn">
                      <i class="fa-solid fa-xmark"></i>
                    </button>
                  </li>
                  <li class="cake-photo">
                    <button class="delete-btn">
                      <i class="fa-solid fa-xmark"></i>
                    </button>
                  </li>
                  <button class="add-btn">
                    <i class="fa-solid fa-plus fa-2x"></i>
                  </button>
                </ul>
              </div>
            </section>
          </article>
          <button class="update-btn">수정 완료</button>
        </form>
      </div>
    </div>
  </section>
</div>
{% endblock %}
