{% load static%}

<head>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}" />

    <nav class="headernav">
        <img class="logo" src="{% static 'img/logo.png' %}"></img>
        <div class="navbar">
            <div class="nav_item">MAKE</div>
            <div class="nav_item">CAKE</div>
            <div class="nav_item">마이페이지</div>
            <div class="nav_item">LOGOUT</div>
            <div class="nav_item"><img src="{% static 'img/nav_start.png' %}""></div>
            <div class="nav_item"><img src="{% static 'img/nav_heart.png' %}"></div>
            <div class="nav_item"><img src="{% static 'img/nav_bell.png' %}"></div>
        </div>
    </nav>
