{% load static %}
<head>
  <link
    link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/mypage_base.css' %}"
  />
</head>

<nav class="mypage-side">
  <img
    class="profile-img"
    src="{{request.user.profile_image}}"
    alt="human_profile"
  />
  <span class="user-name">{{user.name}} 님</span>
  <hr class="user-name-under" />
  <span class="my-walk" onclick="location.href='{% url 'user_mypage' %}'"
    >MY WALK</span
  >
  <ul class="nav-wrap">
    <li class="nav-li" onclick="location.href='{% url 'user_mypage2' %}'">
      주문내역
    </li>
    <li class="nav-li" onclick="location.href='{% url 'user_mypage3' %}'">
      도안 관리
    </li>
    <li class="nav-li" onclick="location.href='{% url 'user_mypage4' %}'">
      작성 리뷰
    </li>
    <li class="nav-li" onclick="location.href='{% url 'user_mypage5' %}'">
      1:1 문의
    </li>
    <li class="nav-li" onclick="location.href='{% url 'user_mypage6' %}'">
      회원정보 수정
    </li>
    <li class="nav-li" onclick="location.href='{% url 'user_mypage7' %}'">
      MY TALK
    </li>
  </ul>
</nav>
