{% load static %}
<head>
  <link
    link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/store_profile.css' %}"
  />
</head>

<nav class="side">
  <img
    class="profile-img"
    src="{% static 'img/shop_main.png' %}"
    alt="human_profile"
  />
  <span class="shop-name">bsName</span>
  <div class="shop-infos">
    <span class="shop-address shop-info" 
      ><i class="fa-solid fa-location-arrow"></i>진주시 가좌동</span
    >
    <span class="shop-info"><i class="fa-brands fa-instagram"></i>@abcd</span>
    <span class="shop-info"><i class="fa-solid fa-phone"></i>010-0000-0000</span>
    <span class="shop-time shop-info"
      ><i class="fa-solid fa-clock"></i>10:00 ~ 19:00</span
    >
  </div>
  <ul class="nav-wrap">
    <li class="nav-li" onclick="location.href='{% url 'manage' %}'">
      주문 관리
    </li>
    <li class="nav-li" onclick="location.href='{% url 'manage_store' %}'">
      가게 관리
    </li>
    <li class="nav-li">도안 관리</li>
    <li class="nav-li">리뷰 관리</li>
    <li class="nav-li">1:1 문의 관리</li>
    <li class="nav-li">가게정보 설정</li>
    <li class="nav-li">MY TALK</li>
  </ul>
</nav>
